manifest {
    name            = 'repository-pipeline'
    author          = 'team'
    version         = '0.1.0'
    nextflowVersion = '!>=24.04.0'
}

params {
    input_stage01 = 'input/stage01_scrap/*.csv'
    input_stage02  = 'input/stage02_batch/*.csv'
    input_stage03  = 'input/stage03_dataset/*.csv'
    input_dump    = 'input/stage99_dumpdb/*.request'

    silver_dir = 'output/silver'
    bronze_dir = 'output/bronze'
    dump_dir   = 'output/dump'

    silver_access = "${projectDir}/output/silver"
}

process {
    executor = 'local'
    shell    = ['/bin/bash', '-euo', 'pipefail']
}

profiles {

    jupyter {

        process.executor = 'local'
        process.container = 'astral/uv:python3.12-bookworm-slim'

        executor {
            queueSize = 96
        }

        process {
            cpus = 4
            memory = '8 GB'
            errorStrategy = 'terminate'
        }

    }

}
