manifest {
    name            = 'nf_octaprot'
    author          = 'ilab octo team'
    version         = '0.2.0'
    nextflowVersion = '!>=24.04.0'
}

params {

    // Path visible INSIDE every container

    input_stage01   = "${projectDir}/input/stage01_scrap/*.csv"
    input_stage02   = "${projectDir}/input/stage02_batch/*.csv"
    input_stage03   = "${projectDir}/input/stage03_dataset/*.csv"
    input_dump      = "${projectDir}/input/stage99_dumpdb/*.request"

    silver_dir = "${projectDir}/output/silver"
    bronze_dir = "${projectDir}/output/bronze"
    dump_dir   = "${projectDir}/output/dump"

}

workDir = "${projectDir}/work"

process {
        executor = 'k8s'
        cpus = 1
        memory = '2 GB'
        container = 'dev.ilab.usm.cl/ifiguero/uv_base'
        errorStrategy = 'ignore'
}

k8s {
    namespace = 'nextflow'
    pod = [[
            hostPath: '/home',
            mountPath: '/home'
        ]]
    autoMountHostPaths = false
  }

report {
      enabled = true
      file = 'report.html'
    }

timeline {
      enabled = true
      file = 'timeline.html'
  }
