profiles {

    local {

        process.executor = 'local'

        executor {
            queueSize = 32
        }
    }

    workstation {

        process.executor = 'local'

        executor {
            queueSize = 64
        }

        process {
            maxForks = 32
        }
    }

    server {

        process.executor = 'local'

        executor {
            queueSize = 128
        }

        process {
            maxForks = 64
        }
    }

    debug {

        process {
            echo = true
            debug = true
        }

        cleanup = false
    }
}
