process {

    withName: REPOSITORY_TO_PARQUET {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }

    withName: REPOSITORY_FILES_EXTRACT {
        cpus = 1
        memory = '4 GB'
        time = '12h'
        maxForks = 1
    }

    withName: REPOSITORY_SUMMARY {
        cpus = 1
        memory = '1 GB'
        time = '30m'
    }

    withName: BATCH_SPLIT_STRATIFIED {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withName: DATASET_MANIFEST_TO_PARQUET {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }

    withName: DOWNLOAD_TRANSCODE_PUBLISH {
        cpus = 1
        memory = '8 GB'
        time = '48h'
        maxForks = 1
    }

    withName: INGEST_BRONZE_METADATA {
        cpus = 1
        memory = '16 GB'
        time = '24h'
    }

    withName: PARQUET_TO_SQL_DUMP {
        cpus = 1
        memory = '4 GB'
        time = '4h'
    }
}
